In [ ]:
# List of high schools
high_schools = ["Hernandez High School", "Figueroa High School",
                "Wilson High School","Wright High School"]

for nonsense in high_schools:
    print(nonsense)

In [ ]:
# A dictionary of high schools and the type of school.
high_school_types = [{"High School": "Griffin", "Type":"District"},
                    {"High School": "Figueroa", "Type": "District"},
                    {"High School": "Wilson", "Type": "Charter"},
                    {"High School": "Wright", "Type": "Charter"}]

for another_nonsense in high_school_types:
    print (another_nonsense)

In [13]:
# List of high schools
high_schools = ["Huang High School",  "Figueroa High School", "Shelton High School", "Hernandez High School","Griffin High School","Wilson High School", "Cabrera High School", "Bailey High School", "Holden High School", "Pena High School", "Wright High School","Rodriguez High School", "Johnson High School", "Ford High School", "Thomas High School"]

# Add the Pandas dependency.
import pandas as pd

# Create a Pandas Series from a list.
school_series = pd.Series(high_schools)

i=0
while i <= 14:
    print(school_series[i])
    i += 1

Huang High School
Figueroa High School
Shelton High School
Hernandez High School
Griffin High School
Wilson High School
Cabrera High School
Bailey High School
Holden High School
Pena High School
Wright High School
Rodriguez High School
Johnson High School
Ford High School
Thomas High School

In [10]:
# A dictionary of high schools
high_school_dicts = [{"School ID": 0, "school_name": "Huang High    School", "type": "District"},
                   {"School ID": 1, "school_name": "Figueroa High School", "type": "District"},
                    {"School ID": 2, "school_name":"Shelton High School", "type": "Charter"},
                    {"School ID": 3, "school_name":"Hernandez High School", "type": "District"},
                    {"School ID": 4, "school_name":"Griffin High School", "type": "Charter"}]

In [11]:
school_df = pd.DataFrame(high_school_dicts)
school_df

   School ID            school_name      type
0          0   Huang High    School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [14]:
# Three separate lists of information on high schools
school_id = [0, 1, 2, 3, 4]

school_name = ["Huang High School", "Figueroa High School",
"Shelton High School", "Hernandez High School","Griffin High School"]

type_of_school = ["District", "District", "Charter", "District","Charter"]

In [22]:
# Initialize a new DataFrame.
schools_df = pd.DataFrame()

# Add the list to a new DataFrame.
schools_df["School ID"] = school_id

# Add the list to a new DataFrame.
schools_df["school_name"] = school_name

# Add the list to a new DataFrame.
schools_df["type_of_school"] = type_of_school


# Print the DataFrame.
schools_df

schools_df.columns

Index(['School ID', 'school_name', 'type_of_school'], dtype='object')

In [24]:
# Create a dictionary of information on high schools.
high_schools_dict1 = {'School ID': school_id, 'school_name':school_name, 'type':type_of_school}
school_df1 = pd.DataFrame(high_schools_dict1)

school_df1.values

array([[0, 'Huang High School', 'District'],
       [1, 'Figueroa High School', 'District'],
       [2, 'Shelton High School', 'Charter'],
       [3, 'Hernandez High School', 'District'],
       [4, 'Griffin High School', 'Charter']], dtype=object)

In [27]:
School_ID = [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14]
School_Name = ["Huang High School", "Figuoroa High School", "Shelton High School", "Hernandez High School", "Griffin High School", "Wilson High School", "CAbrera High School", "Bailey High School", "Holdern High School", "Pena High School", "Wright High School", "Rodriguez High School", "Johnson High School", "Johnson High School", "Ford High School"]
School_Type = ["District", "District", "Charter", "District", "Charter", "Charter", "Charter", "District", "Charter", "Charter", "Charter", "District", "district", "District", "Charter"]

schools_df = pd.DataFrame()

schools_df["School ID"] = School_ID
schools_df["School Name"] = School_Name
schools_df["School Type"] = School_Type

schools_df

    School ID            School Name School Type
0           0      Huang High School    District
1           1   Figuoroa High School    District
2           2    Shelton High School     Charter
3           3  Hernandez High School    District
4           4    Griffin High School     Charter
5           5     Wilson High School     Charter
6           6    CAbrera High School     Charter
7           7     Bailey High School    District
8           8    Holdern High School     Charter
9           9       Pena High School     Charter
10         10     Wright High School     Charter
11         11  Rodriguez High School    District
12         12    Johnson High School    district
13         13    Johnson High School    District
14         14       Ford High School     Charter